body {
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}

/** Header **/
#header-nav {
	background-color: #D0D0D0;
	border-radius: 0;
	border:1px solid black;
}
.navbar-brand p{
	font-size:25px;
	color:black;
	font-weight: bold;
}
#nav-list a {
  color: black;
  text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2.5px solid black;
}
section div {
	background-color: #DCDCDC;
	color:black;
}
section div h3 {
	padding: 10px;
}
section div p {
	padding: 20px;
}

